@use '@/style/_variable' as *;

.matrix {
  position: relative;
  width: min(calc(100% - #{rem(16 + 16)}), rem(640), 100vh);
  max-width: rem(640);
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.axisLine {
  stroke: var(--border-color);
  stroke-width: 1;
}

.axisName {
  @include txt-description;

  fill: var(--txt-description);
}

.poleLabel {
  position: absolute;
  z-index: 1;
  width: fit-content;
  padding-left: 1.2em;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);

  &.--ownership {
    inset: rem(4) 0 auto;
    margin: 0 auto;
  }

  &.--consensus {
    inset: auto 0 rem(4);
    margin: 0 auto;
  }

  &.--diversity {
    inset: 0 auto 0 rem(-16);
    margin: auto 0;
  }

  &.--identityFusion {
    inset: 0 rem(-8) 0 auto;
    margin: auto 0;
  }
}

.plotLabel {
  @include txt-description;
}

.plotPoint {
  fill: var(--txt-link);
}
