@use "@/style/_variable" as *;

.screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.question {
  @include panel;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  @include mq(narrow) {
    padding: var(--spacing-lg);
    scroll-margin-top: var(--spacing-xl);
  }

  @include mq(fromWide) {
    padding: var(--spacing-xl);
    scroll-margin-top: var(--spacing-3xl);
  }
}

.questionTitle {
  font-size: var(--font-size-base);
  line-height: 1.8;
  color: var(--txt-basic);
}

.optionRow {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.optionScale {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-md);
  justify-content: space-between;
  width: 100%;
  margin-inline: auto;

  @include mq(narrow) {
    align-items: flex-start;
  }

  @include mq(fromWide) {
    flex-flow: row nowrap;
    gap: rem(40);
    align-items: center;
  }
}

.labelMin {
  order: 1;
  width: 50%;
  line-height: 1.8;
  color: var(--txt-description);
  text-align: left;

  @include mq(narrow) {
    font-size: var(--font-size-xs);
  }

  @include mq(fromWide) {
    flex-shrink: 0;
    width: rem(160);
    font-size: var(--font-size-sm);
  }
}

.labelMax {
  order: 2;
  width: 50%;
  line-height: 1.8;
  color: var(--txt-description);
  text-align: right;

  @include mq(narrow) {
    font-size: var(--font-size-xs);
  }

  @include mq(fromWide) {
    flex-shrink: 0;
    order: 3;
    width: rem(160);
    font-size: var(--font-size-sm);
  }
}

.optionGroup {
  display: flex;
  justify-content: space-between;
  order: 3;
  width: 100%;

  @include mq(fromWide) {
    flex: 1;
    order: 2;
    padding-inline: var(--spacing-lg);
  }
}

.optionLabel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--spacing-sm);
  cursor: pointer;
}

.optionIndicator {
  @include radio;

  color: var(--txt-link);
}
