@use '@/style/_variable' as *;

.home {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);

  @include mq(narrow) {
    gap: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  @include mq(fromWide) {
    gap: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
  }
}

// matrix {
.matrix {
  @include rect(min(rem(640), 100%));

  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

// icon
.icon {
  @include rect(min(rem(48), 15vmin));

  position: absolute;
  z-index: 0;
  color: var(--border-color);
  filter: drop-shadow(-1px -1px rem(1) rgb(0 0 0 / 10%)) drop-shadow(1px 1px rem(1) white)
    drop-shadow(-2px -2px rem(2) rgb(0 0 0 / 5%)) drop-shadow(2px 2px rem(2) white);
  opacity: 0.5;
  fill: currentColor;

  &.ownership {
    margin: 0 auto;

    @include mq(narrow) {
      inset: rem(-24) 0 auto;
    }

    @include mq(fromWide) {
      inset: rem(-32) 0 auto;
    }
  }

  &.consensus {
    margin: 0 auto;

    @include mq(narrow) {
      inset: auto 0 rem(-24);
    }

    @include mq(fromWide) {
      inset: auto 0 rem(-32);
    }
  }

  &.diversity {
    margin: auto 0;

    @include mq(narrow) {
      inset: 25vmin auto 0 rem(20);
    }

    @include mq(fromWide) {
      inset: 0 auto 0 rem(-32);
    }
  }

  &.identityFusion {
    margin: auto 0;

    @include mq(narrow) {
      inset: 25vmin rem(20) 0 auto;
    }

    @include mq(fromWide) {
      inset: 0 rem(-32) 0 auto;
    }
  }
}
