@use '@/style/_variable' as *;

.poleLabel {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  width: 100%;
  padding: 0;
  color: currentColor;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  border: none;
}

.icon {
  @include rect(1.2em);

  fill: currentColor;
}

.description {
  inset: unset;
  padding: var(--spacing-sm) var(--spacing-md);
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--txt-paragraph);
  background-color: rgb(255 255 255 / 80%);
  backdrop-filter: blur(rem(4));
  border: 1px solid var(--border-color);
  border-radius: rem(8);
  box-shadow: 0 rem(4) rem(16) rgb(0 0 0 / 10%);
  position-area: top center;
}
