@use '@/style/_variable' as *;

.surveyForm {
  display: flex;
  flex-direction: column;
}

.personalPlot {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);

  @include mq(narrow) {
    gap: var(--spacing-xl);
    padding: var(--spacing-2xl) 0 0;
  }

  @include mq(fromWide) {
    gap: var(--spacing-3xl);
    padding: var(--spacing-3xl) 0 0;
  }
}

.intro {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pageTitle {
  @include hd-lg;

  text-align: center;
}

.section {
  @include container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  @include mq(narrow) {
    padding-bottom: var(--spacing-2xl);
  }

  @include mq(fromWide) {
    padding-bottom: var(--spacing-3xl);
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  place-content: center;
  justify-content: center;
  background-color: #f7f7f733;
  backdrop-filter: blur(rem(8));
  border-top: 1px solid var(--border-color);
  box-shadow:
    inset 0 1px 0 #fff6,
    0 0 rem(24) rgb(0 0 0 / 5%);

  @include mq(narrow) {
    gap: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-lg);
  }

  @include mq(fromWide) {
    gap: var(--spacing-lg);
    padding: var(--spacing-lg) var(--spacing-lg);
  }
}

[class].submitButton {
  max-width: rem(360);
}
